#navbar {
    background-color: black;
    color: white;
    min-height: 5vh;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}